::-webkit-scrollbar{
    width: 10px;
    height: 10px !important;
}

::-webkit-scrollbar-track{
    /* background: white !important; */
    background: rgb(148, 165, 196) !important;
}

::-webkit-scrollbar-thumb{
    background: rgb(59, 130, 246) !important;
    border-radius: 100vw;
    border: white 0.5px solid;
}